.title {
	color: #b95204;
	margin: 0;
}

.meta {
	margin: 20px 0px;
}

.date,
.time {
	color: #dbf9f4;
	background-color: #2660a4;
	display: inline-block;
}

.date {
	margin-top: 0;
	margin-bottom: 3px;
}

.time {
	margin: 0;
}

.content p:first-child {
	margin-top: 5px;
}

.content a {
	color: #2660a4;
	font-weight: 600;
}
