.title {
	color: #b95204;
	margin: 0;
}

.meta {
	margin: 20px 0px;
}
.meta h6,
.meta h5,
.meta h4,
.meta h3,
.meta h2,
.meta h1 {
	color: #dbf9f4;
	background-color: #2660a4;
	display: inline-block;
	margin: 2px;
}

.date {
	margin-bottom: 3px;
}

.content p:first-child {
	margin-top: 5px;
}

.content a {
	color: #2660a4;
	font-weight: 600;
}

.content a:hover {
	background-color: #2660a4;
	color: #dbf9f4;
}
