body {
	background-color: #fff6f4;
}
body,
.flex-center {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	/* text-align: center; */
}
a,
a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

* {
	font-family: "IBM Plex Mono", "Courier New", Courier, monospace;
}

div {
	overflow: auto;
}
