@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500;700&display=swap");

body,
.flex-center {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	/* text-align: center; */
}
a,
a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

* {
	font-family: "IBM Plex Mono", "Courier New", Courier, monospace;
}

div {
	overflow: auto;
}
